.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}


/* Intro image and paragraphs style  */

.FixedImage {
  position: sticky; 
  top: 0;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 45px;
  width: 68vw;
  height: auto;
  z-index: 1;
}

.ScrollImage{
  position: relative;
  width: 68vw;
}


.ScrollContent {
  position: absolute;
  right: 0; 
  top: 50%;
  width: 30vw; 
  height: auto; 
  /* overflow-y: auto;  */
  max-height: 100vh;

}

.MainIntroContent {
  width: 100vw;
  display: flex;
  /* display: flex; */
  flex-direction: column;
  /* position: relative; */
  
}

