@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");


.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

/* Intro image and paragraphs style  */

.FixedImage {
  position: fixed;
  top: 0;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 90px;
  width: 68vw;
  height: auto;
  z-index: 1;
}

.ScrollImage {
  position: static;
  width: 68vw;
  height: auto;
}


.ScrollContent {
  position: absolute;
  right: 0;
  top: 40%;
  width: 30vw;
  height: auto;
  /* overflow-y: auto;  */
  max-height: 100vh;
  padding-top: 0px;
  /* margin-left: 50px; */
}

.MainIntroContent {
  width: 100vw;
  display: flex;
  /* display: flex; */
  flex-direction: column;
  /* position: relative; */

}


/* this is for the paragraphs fonts and titles  */

.SinglePara{
  margin-left: 15px;
  margin-right: 15px;
}

.SinglePara h1 {
  font-weight: 50;
  color: var(--primary-color);
  font-size: 30px;
}

.SinglePara p {
  margin-top: 20px;
  font-family: 'Questrial';
  font-size: 20px;
  color: #8B95A6;
  padding-bottom: 200px;
  word-spacing: 5px;
  line-height: 1.5;
}