@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");


.ContainerSimulationIntro {
    display: flex;
    align-items: flex-start;
}

.ParaIntroSimulation {
    margin-top: 150px;
    margin-left: 2%;
    flex: 1;
    padding-right: 20px;

}

.ImgIntroSimulation {
    width: 61%;
    margin-top: 80px;
    text-align: center;

}

.ImgIntroSimulation img {
    width: 100%;
    height: auto;
    opacity: 61%;
    border-bottom-left-radius: 210px;
}

.SingleParaSimulation {
    font-size: 19px;
    color: var(--primary-color);
    font-family: 'Questrial';
    word-spacing: 6px;
    line-height: 1.5;
    text-align: center;
}

.UnderImg {
    font-family: 'Questrial';
    color: #779CB2;
    margin-left: 12%;
    margin-top: 3px;
    font-size: 18px;
}

.DividerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    position: relative;
}

.DividerTitleStyle {
    position: absolute;
    color:  var(--background-color);
    background-color: transparent;
    padding: 0 10px;
}

.ServicesContainer{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    /* Gap between the cards */
    gap: 40px;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.SingleService {
    padding-top: 0;
    width: 300px;
    margin-top: 250px;
    height: auto;
    justify-content: space-between;
    background-color: var(--card-color);
    padding-bottom: 10px;
    border-radius: 15px;
  }

  .SingleService img {
    border-radius: 15px;
    max-width: 100%;
    opacity: 50%;
  }

  .SingleService :hover{
    opacity: 100%;
  }

.SingleServiceDetails{
    text-align: center;
    color: var(--primary-color);
    font-family: 'Questrial';
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

